h1{
    margin-top: 50px;
    text-align: center;
}
h6{
    padding: 10px 0 0 0;
    text-align: center;
}
.menu{
    position: relative;
    width: 45%;
    margin: 30px auto;
    font-weight: 700;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #EAC206;
            left: 0;
            bottom: -4px;
            transition: 0.3s;
            
        }
        &:hover::after{
            width: 100%;
        }
    }
}

.cost{
    color: #EAC206;
}